.background{
        -fx-background-color: linear-gradient(to bottom, #cbd0d7 0%,  white 100%);
}

.label {
    -fx-font-size: 16pt;
}

.titleText {
    -fx-font-size: 20pt;
    -fx-font-weight:bold;
    -fx-text-fill: #325c5b;
}

.button:disabled {
    visibility:hidden;
}

.button {
    -fx-background-color: linear-gradient(to bottom, white 0%, #cbd0d7 100%);
    -fx-font-size: 16pt;
    -fx-text-fill: #5086bb;
    -fx-padding: 8;
    -fx-background-radius: 23;
    -fx-border-radius: 23;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #cbd0d7 0%, white 100%);
}

.list-view {
    -fx-background-color: linear-gradient(to bottom, #cbd0d7 0%,  white 100%);
}
.list-cell:hover {
    -fx-background-color: linear-gradient(to bottom, #cbd0d7 0%, white 100%);
}

.list-cell {
    -fx-background-color: linear-gradient(to bottom, white 0%, #cbd0d7 100%);
    -fx-font-size: 16pt;
    -fx-text-fill: #5086bb;
    -fx-background-radius: 23;
    -fx-border-radius: 23;
    -fx-alignment:center 
}
 
.list-cell:empty {
   -fx-opacity: 0.0;
    visibility:hidden;
}

.list-cell:selected {
    -fx-font-weight:bold;
    -fx-text-fill: #325c5b;
}

.radio-button {
    -fx-font-size: 16pt;
    -fx-text-fill: #5086bb;
    -fx-background-color: linear-gradient(to bottom, white 0%, #cbd0d7 100%);
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.check-box {
    -fx-font-size: 16pt;
    -fx-text-fill: #5086bb;
    -fx-background-color: linear-gradient(to bottom, white 0%, #cbd0d7 100%);
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.text-input {
    -fx-font-size: 16pt;
    -fx-text-fill: #325c5b;
    -fx-background-color: linear-gradient(to bottom, white 0%, #cbd0d7 100%);
    -fx-padding: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: #767676;
}

